*{
    margin: 0 auto;
    padding: 0;
}

body{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.boton{
    width: 170px;
    height: 50px;
    background-color: #fd305c;
    border-radius: 25px;
    border: none;
    color: white;
}

/*hoja1*/

#sec1{
    background-image: url(/imagenes/images/angel-jimenez.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo-sec1{
    color: white;
    font-family: 'Lato', sans-serif;;
    font-size: 150px;
}

/*hoja2*/

#sec2{
    width: 100%;
    height: 800px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-padre2{
    background-color: white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

#div-hijo2{
width: 55%;
height: 100%;
background-color: transparent;
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#texto1{
    width: 80%;
    height: 80%;
    background-color: transparent;    
    flex-direction: column;
}

#button1{
margin-top: 4.5rem;
}

#titulo1{
    margin-top: 3rem;
    background: -webkit-linear-gradient(#fa4a54,#da0170);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;  
}

.titulo{
    font-size: 55px;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
}

#descripcion1{
    margin-top: 1rem;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

#div-hijo2-1{
width: 45%;
height: 100%;
background-image: url(/imagenes/images/matt-palmer.png);
background-size: cover;
}

.espacio{
   font-size: 55px;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
}

/*hoja3*/

#sec3{
    width: 100%;
    height: 800px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-padre3{
    background-color: white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

#div-hijo3{
width: 45%;
height: 100%;
background-image: url(/imagenes/images/wesley-tingey.png);
background-size: cover;
}

#div-hijo3-1{
width: 55%;
height: 100%;
background-color: transparent;
}

#texto2{
    width: 80%;
    height: 80%;
    background-color: transparent;    
    flex-direction: column;
}

#button2{
margin-top: 3.8rem;
}

#titulo2{
    margin-top: 5rem;
    background: -webkit-linear-gradient(#fa4a54,#da0170);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;  
}

#descripcion2{
    margin-top: 1rem;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

/*hoja4*/

#sec4{
    background-image: url(/imagenes/images/john-raptis.png);
    width: 100%;
    height: 650px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-padre4{
    width: 45%;
    height: 60%;
    background-color: transparent;
    justify-content: flex-end;
    margin-right: 2rem;
}

#titulo4{
color: white;
font-size: 60px;
line-height:80px;
}

#descripcion4{
    margin-top: 1rem;
    font-size: 18px;
    line-height: 32px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#button4{
    margin-top: 3rem;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 350px;
    background-color: #fd305c;
}

nav{
    margin-left: 6rem;
    background-color: transparent;
    height: 78%;
    width: 60%;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#section-footer{
    border-top: 1px white solid;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 6rem;
    height: 22%;
    width: 80%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}